br{
    border: 1px solid black;
}
.allCenter{
   margin: auto;
   text-align: center;
   justify-content: center;
   display: block;
}
.header{
    border-bottom:1px solid gray ;
}
body{
    background-color: #305050;
}
*{
    color: white;
}
.CssHtml{
    border-bottom:1px solid gray ;
}
h2{
    color: #FFA500;
}